.body__container {
    width: 640px;
    height: 970px;
    border: 3px solid black;
    border-radius: 5px;    
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px 160px 30px 160px 30px 160px 50px;
    grid-template-rows: 50px 80px 45px 150px 25px 80px 45px 150px 25px 80px 45px 150px 50px;
}

.body__title {
    width: auto;
    margin: 0;
    padding: 14px 50px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 50px;
    color: white;
    background-color: turquoise;
    opacity: 0.8;
    animation-name: title;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes title {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        transform: translateZ(20px);
    }
}

.tl__1 {
    grid-column: 1 / 8;
    grid-row: 2 / 2;
}

.tl__2 {
    grid-column: 1 / 8;
    grid-row: 6 / 6;
}

.tl__3 {
    grid-column: 1 / 8;
    grid-row: 10 / 10;
}

.body__breakfast{
    background-color: white;
    border: 3px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 6px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: breakfast;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes breakfast {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        transform: translateY(-20px);
    }
}

.body__hidden {
    display: none;
}

.bf__1 {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}

.bf__2 {
    grid-column: 4 / 5;
    grid-row: 4 / 4;
}

.bf__3 {
    grid-column: 6 / 7;
    grid-row: 4 / 4;
}

.ln__1 {
    grid-column: 2 / 3;
    grid-row: 8 / 8;
}

.ln__2 {
    grid-column: 4 / 5;
    grid-row: 8 / 8;
}

.ln__3 {
    grid-column: 6 / 7;
    grid-row: 8 / 8;
}

.dn__1 {
    grid-column: 2 / 3;
    grid-row: 12 / 12;
}

.dn__2 {
    grid-column: 4 / 5;
    grid-row: 12 / 12;
}

.dn__3 {
    grid-column: 6 / 7;
    grid-row: 12 / 12;
}