.main__container {
    width: 650px;
    height: 400px;
    background-color: white;    
    border: 3px solid black;
    display: flex;
    justify-content: center;
    z-index: 4;
    overflow: hidden;
    margin: 20px 0;
}

.main__title {
    width: 460px;
    height: 140px;
    padding: 50px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 80px;
    font-weight: 900;
    background-color: #fe5d6f;
    opacity: 0.8;
    color: white;
    position: absolute;
    z-index: 2; 
}

.main__image {
    animation-name: healthy;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes healthy {
    100% {
        z-index: 1;
        transform: translateX(-100%) translateZ(0);
    }
}